// 单表参数配置
.single-table-params-config {
    .stpc-steps {
        padding-bottom: 10px;
    }

    .stpc-body {
        padding: 6px;
        border-radius: 6px;
    }

    .stpc-body-item {
        margin-bottom: 8px;
        padding: 8px 6px;
        min-height: 180px;
        max-height: 230px;
        overflow: auto;
        border: 1px solid #e8e8e8;
        border-radius: 6px;
    }

    .stpc-body-item-active {
        border-radius: 6px;
        border: 1px solid var(--main-bg);
    }

    .stpc-field {
        .stpc-field-item {
            padding: 4px 10px;
            cursor: move;
            border-radius: 6px;
            margin-bottom: 6px;
        }

        .stpc-field-item-active {
            border: 2px solid var(--main-bg);
        }
    }
}