// 基础表数据维护
.basic-table-data-maintenance {
    .btdm-right-card {
        box-shadow: none;

        &>.ant-card-head {
            padding-left: 0;
        }

        &>.ant-card-body {
            padding: 12px 0;
        }
    }
}

// 字表数据维护
.sub-table-data-maintenance {
    .ant-drawer-body {
        padding-top: 0;
    }
}